body {
	background-color: #232323;
	margin:0;
	font-family: "Montserrat", "Avenir";
}
.square {
	width: 30%;
	background-color: skyblue;
	float: left;
	padding-bottom: 30%;
	margin:1.66%;
	border-radius: 25%;
	/*for safari support*/
	--webkit-transition: background 0.6s; 
	/*for mozilla firefox support*/
	-moz-transition: background 0.6s;
	transition: background 0.6s;
}

#container { 
	/*margin setting below will center items*/
	margin: 20px auto;
	max-width: 650px;
}
h1{
	color: white;
	text-align: center;
	background: steelblue;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}
#stripe{
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}
.selected {
	color:white;
	background: steelblue;
}
#message {
	display: inline-block;
	width: 20%
}
#colorDisplay{
	font-size: 200%
}

button {
	
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: steelblue;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	/*for safari support*/
	--webkit-transition: background 0.6s; 
	/*for mozilla firefox support*/
	-moz-transition: background 0.6s;
	transition: background 0.6s;
}

button:hover {
	color:white;
	background: steelblue;
	/*removes the annoying outline created by the browser*/
	outline: none; 
}


